body
{
margin: 0;
color: #EAF6F6;
line-height: 2;
grid-row-gap: 1rem;
}
div
{
  padding: 0;
margin: 0;
}
h1
{
  margin: 5.3% auto 3% ;
  font-family: 'Sacramento', cursive,arial,sans-serif;
  font-size: 500%;
}h2
{
  margin :5% auto;
}
h3
{
  color:#653D79;

  text-align: left;
}
img
{
  line-height: 0;
  margin: 1% auto;
}
a
{
  color: #301934;
  font-size: 200%;
  padding: 0 .5% .7%;
  text-decoration: none;
  padding-right: 2%;
  z-index: 1;
  width: auto;
  margin-top: 0;
  position: relative;
}
p
{
  font:100%;
  color:#202020;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  width: 25%;
margin :1% auto;
text-align: left;

}
hr
{border-style: dotted;
  border-width: .5rem;
  border-top: 0;
  color:#EEE0F4;
  width: 5%;
  margin: 2% auto;
}a:hover
{
  color: #EEE0F4;
}
table
{ margin: 2% auto;
  text-align: left;
box-sizing: content-box;
width: 70%;
}
td
{
  box-sizing: content-box;
  align-items: top left;
}
td p {
    text-align: left;
    margin-left: 0;
    width: auto;
}
.btn {
  background: purple;
  background-image: -webkit-linear-gradient(top, purple, #EEE0F4);
  background-image: -moz-linear-gradient(top, purple, #EEE0F4);
  background-image: -ms-linear-gradient(top, purple, #EEE0F4);
  background-image: -o-linear-gradient(top, purple, #EEE0F4);
  background-image: linear-gradient(to bottom, purple, #EEE0F4);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #301934;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7a317a;
  text-decoration: none;
}

.brand
{
font-size: 400%;
display: inline-block;
margin: 0 ;
padding-top: 0;
margin-right: 40%;

color: white;
font-weight:bolder;
bottom: 20%;
height: 1%;

margin-left: 3%;
}.nav
{
  bottom: 25%;
  column-gap: 10%;
}


.first_cloud
{
position: relative;
top :9rem;
left: 15%;
opacity: 4;
}
.second_cloud
{
position: relative;
bottom: 10rem;
right: 40rem;
opacity: 3;

}
.mountain
{
  position: relative;
  margin-bottom: -.5%;
  top:1%;
  left:4rem;
  opacity: 2;
}
.navigate_bar
{
background-color: purple;
padding: 0 ;
position: absolute ;
text-align-last: left;
width: 100%;
z-index: 1;
margin: 0;
height: 6rem;

}.navigate_bar:focus-visible{
  outline: -webkit-focus-ring-color auto 1px;
}
.first_container
{ text-align: center;
  background-image: url("../images/space-stars-background-illustration-night-sky_160081-132.webp");
}.second_container
{
  margin: 1rem auto;
  text-align: center;
}
.third_container
{
text-align: center;
}.fourth_container
{
  text-align: center;
}.fifth_container
{
  width: 100%;
  height: 10rem;
  text-align: center;
  background-color: purple;
  margin-top: 2%;
}
.ps
{width: 60%;
  margin: auto;
  margin-top: 5%;
  text-align: left;
margin-bottom: 5%;

}


.profile
{ margin-top: 5%;
  border-radius: 100% 100% 0 0;
  width: 20%;
} .profil:hover
{width: 10%;
  animation-name: rotate;
  animation-duration: 5s;

}
.intro
{
  color :	#707070;
font-family: 'Playfair Display', serif;
}
.Skills
{
  color:#653D79;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}
#div3
{
  margin-top: 4%;
}
.code
{
float: left;
margin :auto;
margin-left: 10%;
padding-right: 10%;
}
.p4
{
text-align: left;

}

.devloper
{

float: right;
}.learn2
{
margin-right: 100%;
}
.p6
{
  text-align: center;
}





*{scroll-behavior: smooth;

}
